<template>
    <a-list
            itemLayout="horizontal"
            :dataSource="dropPoints"
    >
        <a-list-item slot="renderItem" slot-scope="item, index">
            <a-list-item-meta>
                <a slot="title">Nazwa puktu odbioru {{item.order_name}}</a>
                <div slot="description">
                    Zawartość zamówienia (lista produktów)
                    <ul>
                        <li v-bind:key="product.id" v-for="product in item.products">
                            {{product.product_name}}
                        </li>
                    </ul>
                </div>

                <a-avatar slot="avatar" :icon="icon"/>
            </a-list-item-meta>
        </a-list-item>
    </a-list>
</template>

<script>
    export default {
        name: "ListOfDropPoint",
        props: {
            dropPoints: {
                type: Array,
                required: true
            },
            icon: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>