<template>
    <a-list
            itemLayout="horizontal"
            :dataSource="data"
    >
        <a-list-item slot="renderItem" slot-scope="item, index">
            <a-list-item-meta>
                <a slot="title">Nazwa magazynu: {{item.warehouse.warehouse_name}}</a>
                <a-avatar slot="avatar" :icon="icon"/>
                <div slot="description">
                    Pojemność: {{item.capacity}}
                </div>
            </a-list-item-meta>
        </a-list-item>
    </a-list>
</template>

<script>
    export default {
        name: "ListOfVehicles",
        props: {
            data: {
                type: Array,
                required: true
            },
            icon: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>