<template>
    <a-list
            itemLayout="horizontal"
            :dataSource="ware"
    >
        <a-list-item slot="renderItem" slot-scope="item, index">
            <a-list-item-meta>
                <a slot="title">Nazwa produktu: {{item.product_name}}</a>
                <a-avatar slot="avatar" :icon="icon"/>
                <div slot="description">
                    Waga produktu: {{item.weight}}
                </div>
            </a-list-item-meta>

        </a-list-item>
    </a-list>
</template>

<script>
    export default {
        name: "ListOfWare",
        props: {
            ware: {
                type: Array,
                required: true
            },
            icon: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>