<template>
    <div>
        <div class="full-page" id="mapContainer">
            <a-popover v-model="popOverChoice" title="Wybierz akcję" trigger="click">
                <template slot="content">
                    <div v-if="selectAction" class="flex flex-column">
                        <a-button type="default" size="small" class="button-add"

                                  @click="showAddWareHouseForm"
                        >
                            dodaj magazyn
                        </a-button>
                        <a-button type="default" size="small" class="button-add" @click="showAddOrderPoint">
                            dodaj punkt odbioru
                        </a-button>
                    </div>
                    <div v-if="chosenAddProduct">
                        <div class="flex flex-column">
                            <label for="orderPointNameID">Nazwa punktu odbioru </label>
                            <a-input id="orderPointNameID" placeholder="Nazwa punktu odbioru" v-model="orderPointName"
                                     @change="handleInputOrderPointNameChange"/>
                            Proszę wybrać produkty
                            <a-select mode="multiple"
                                      @change="handleSelectChange"
                                      v-bind:getPopupContainer="popupContainerSelect">

                                <a-select-option v-for="(item,index) in ware" :key="index">{{item.product_name}}
                                </a-select-option>
                            </a-select>
                        </div>
                        <div class="button-container">
                            <a-button type="default" :disabled="disableAddOrderPoint"
                                      class="button-add"
                                      @click="addOrderPoint">
                                dodaj
                            </a-button>
                        </div>


                    </div>
                    <div v-if="chosenAddWarehouse">
                        <a-input placeholder="Nazwa Magazynu" v-model="warehouseName"
                                 @change="changeInputWareHouse"/>
                        <div class="button-container">
                            <a-button type="primary" size="small" class="button-add"
                                      :disabled="disableAddWareHouse"
                                      @click="addWarehouse"
                            >
                                dodaj
                            </a-button>
                        </div>
                    </div>
                </template>
                <div class="absolute" id="popOverChoice">

                </div>
            </a-popover>
        </div>
        <div class="controls-container">
            <a-divider>
                Dane
            </a-divider>
            <a-tabs defaultActiveKey="1" @change="callback">
                <a-tab-pane tab="Magazyny" key="1">Lista dostępnych magazynów
                    <list-of-warehouse :data="warehouses" icon="shopping"/>
                    <div class="greyed-text small-font">
                        <a-icon type="warning"/>
                        Aby dodać magazyn, należy kliknąć w na wybraną lokalizację na mapie
                    </div>
                </a-tab-pane>
                <a-tab-pane tab="Punkty Odbioru" key="2" forceRender>Lista punktów odbioru
                    <list-of-drop-point :drop-points="dropPoints" icon="home"/>
                    <div class="greyed-text small-font">
                        <a-icon type="warning"/>
                        Aby dodać punkt odbioru, należy kliknąć w na wybraną lokalizację na mapie
                    </div>
                </a-tab-pane>
                <a-tab-pane tab="Dostępne towary" key="3" forceRender>Lista dostępnych towarów
                    <list-of-ware :ware="ware" icon="inbox"/>
                    <a-popover v-model="showAddNewProductPopup" title="Dodaj nowy towar" trigger="click">
                        <template slot="content">
                            <label for="productsName">Nazwa towaru</label>
                            <a-input id="productsName" placeholder="Nazwa Towaru" v-model="wareName"
                                     @change="changeInputWareName"/>
                            <label for="productsWeight">Waga towaru</label>
                            <a-input id="productsWeight" placeholder="Waga Towaru" v-model="wareWeight"
                                     @change="changeInputWareWeight"/>
                            <div class="button-container">
                                <a-button type="primary" size="small" class="button-add"
                                          @click="addWare"
                                >
                                    dodaj
                                </a-button>
                            </div>
                        </template>
                        <a-button block type="primary" icon="plus-circle">dodaj towar</a-button>
                    </a-popover>
                </a-tab-pane>
                <a-tab-pane tab="Pojazdy" key="4" forceRender>
                    Lista dostępnych pojazdów
                    <list-of-vehicles :data="vehicles" icon="car"/>
                    <a-popover v-model="showAddNewVehiclePopup" title="Dodaj nowy pojazd" trigger="click">
                        <template slot="content">
                            <div class="flex flex-column">
                                Prosze wybrac docelowy magazyn
                                <a-select mode="single"
                                          v-model="selectedVehicle"
                                          @change="handleSelectChangeVehicles"
                                          v-bind:getPopupContainer="popupContainerSelect">

                                    <a-select-option v-for="(item,index) in warehouses" :key="index">
                                        {{item.warehouse_name}}
                                    </a-select-option>
                                </a-select>
                                <label for="vehicleCapacity">Maksymalna pojemność pojazdu</label>
                                <a-input id="vehicleCapacity" type="number" v-model="newVehicleCapacity"/>
                                <div class="button-container">
                                    <a-button class="button-add" size="small" @click="addNewVehicle">dodaj</a-button>
                                </div>
                            </div>
                        </template>
                        <a-button block type="primary" icon="plus-circle">Dodaj nowy pojazd</a-button>
                    </a-popover>
                </a-tab-pane>
            </a-tabs>
            <a-divider>
                Wyliczanie trasy
            </a-divider>
            <div class="flex flex-column">
                <a-button type="primary"
                          size="large"
                          class="button-add"
                          @click="getSolution"
                >Wylicz trase
                </a-button>
            </div>
        </div>
    </div>

</template>

<script>
    import L from 'leaflet';
    import ListOfWarehouse from "./ListOfWarehouse";
    import ListOfWare from "./ListOfWare";
    import message from 'ant-design-vue/lib/message';
    import ListOfDropPoint from "./ListOfDropPoint";
    import axios from 'axios';
    import {AntPath, antPath} from 'leaflet-ant-path';
    import ListOfVehicles from "./ListOfVehicles";
    //naprawienie ikonek dla vuejs
    delete L.Icon.Default.prototype._getIconUrl;

    let url = "http://192.168.43.94:8080";
    let urlLocalhost = "http://localhost:8080";

    url = urlLocalhost;
    L.Icon.Default.mergeOptions({
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
        iconUrl: require('leaflet/dist/images/marker-icon.png'),
        shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
    });

    let markers = [];

    let mess = "test2";
    let warehouseName = "";
    let wareName = "";
    let wareWeight = 0;
    let disableAddWareHouse = true;
    let disableAddWare = true;
    let showWarehousePopover = false;
    let popOverChoice = false;
    var map;
    let curDrawnPath;
    let chosenAddWarehouse = false;
    let chosenAddProduct = false;
    let selectAction = true;
    let warehouses = [{warehouse_name: "test"}, {warehouse_name: "elo"}];
    let ware = [{product_id: 0, product_name: "szczotka", weight: 5}];
    let location;
    let dropPoints = [];
    let selectedOptions = [];
    let disableAddOrderPoint = true;
    let showAddNewProductPopup = false;
    let showAddNewVehiclePopup = false;
    let orderPointName = "";
    let vehicles = [];
    let newVehicleCapacity = 1;
    let selectedWarehouseToNewVehicle;
    let color;
    let colors = ["black", "green", "blue", "red", "yellow"];
    let addNewVehicle;
    let vrpSolution;
    let newWarehouseToAdd;
    let newOrderPoint;
    let newProduct;
    let selectedVehicle = "";
    let packIcon = L.icon({
        iconUrl: 'https://image.flaticon.com/icons/svg/679/679720.svg',

        iconSize: [38, 95], // size of the icon
        iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
        popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
    });


    let houseIcon = L.icon({
        iconUrl: 'https://image.flaticon.com/icons/svg/942/942185.svg',

        iconSize: [38, 95], // size of the icon
        iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
        popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
    });


    export default {
        name: "MapPage",
        components: {ListOfVehicles, ListOfDropPoint, ListOfWare, ListOfWarehouse},
        data: function () {
            return {
                color: color,
                selectedVehicle,
                curDrawnPath: curDrawnPath,
                vrpSolution: vrpSolution,
                colors: colors,
                ware: ware,
                mess: mess,
                warehouses,
                warehouseName: warehouseName,
                disableAddWareHouse: disableAddWareHouse,
                showWarehousePopover,
                wareName: wareName,
                wareWeight: wareWeight,
                disableAddWare: disableAddWare,
                houseIcon,
                packIcon,
                popOverChoice,
                chosenAddWarehouse,
                chosenAddProduct,
                selectAction,
                selectedOptions,
                dropPoints,
                disableAddOrderPoint,
                orderPointName,
                vehicles,
                newVehicleCapacity,
                showAddNewProductPopup,
                showAddNewVehiclePopup
            };
        },
        mounted: function () {
            let self = this;
            this.$nextTick(function () {
                // Code that will run only after the
                // entire view has been rendered
                map = L.map('mapContainer', {drawControl: true}).setView([52.237049, 21.017532], 13);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                map.on('click', self.addWareHouseMapClick);
            });
            //Przykładowe zapytanie
            axios.get(url + "/HTML/Products", {})
                .then(response => {
                    if (response.status >= 300) {
                        message.error("Nie udało się pobrać listy produktów");
                        this.ware = [];
                    } else {
                        message.success("Poprawnie pobrano liste produktów");
                        this.ware = response.data;
                    }
                }).catch(() => {
                message.error("Błąd serwera");
                this.ware = [];
            });

            axios.get(url + '/HTML/Warehouses')
                .then(response => {
                    if (response.status >= 300) {
                        message.error("Nie udało się pobrać listy magazynow");
                        this.warehouses = [];
                    } else {
                        this.warehouses = response.data;
                        markers = [];
                        this.warehouses.forEach(warehouse => {
                            let newMarker = L.marker({lon: warehouse.long, lat: warehouse.lat}, {icon: packIcon});
                            let text = "<b>" + warehouse.warehouse_name + "</b>";
                            newMarker.bindPopup(text);
                            newMarker.addTo(map);
                            markers.push(newMarker);
                        });
                    }
                })
                .catch(() => {
                    message.error("Błąd serwera");
                    this.warehouses = [];
                });

            axios.get(url + "/HTML/Orders").then(response => {
                if (response.status >= 300) {
                    message.error("Nie udalo sie pobrać punktow odbioru");
                } else {
                    let newData = response.data;
                    newData.forEach(order => {
                        let newProducts = [];
                        order.products.forEach(product => {
                            this.ware.forEach(product_loaded => {
                                if (product_loaded.product_id === product.product_id) {
                                    newProducts.push(product_loaded);
                                    return;
                                }
                            });
                        });
                        order.products = newProducts;
                        let newMarker = L.marker({lat: order.lat, lng: order.long}, {icon: houseIcon});
                        let text = "<b>" + order.order_name + "</b>";
                        newMarker.bindPopup(text);
                        newMarker.addTo(map);
                        markers.push(newMarker);
                    });
                    this.dropPoints = newData;
                    message.success("Poprawnie pobrano punkty odbioru");
                }
            }).catch(() => {
                message.error("Błąd serwera");
            });

            axios.get(url + "/HTML/Vehicles")
                .then(response => {
                    if (response.status >= 300) {
                        message.error("Nie udało się pobrać listy pojazdów");
                        this.vehicles = [];
                    }
                    else {
                        message.success("Pomyślnie pobrano liste pojazdów");
                        let newVehicles = [];
                        response.data.forEach(vehicle => {
                            self.warehouses.forEach(warehouse => {
                                if (warehouse.warehouse_id === vehicle.warehouse_id) {
                                    vehicle.warehouse = warehouse;
                                    newVehicles.push(vehicle);
                                    return;
                                }
                            })
                        });
                        self.vehicles = newVehicles;
                    }
                })
                .catch(() => {
                    message.error("Błąd serwera");
                    this.vehicles = [];
                });

        },
        methods: {
            drawSolution(vrpSolution,warehouse_id) {
                console.log(vrpSolution);
                try {
                    this.color=colors[ Math.floor(Math.random() * 5)];
                    let i = 1;
                    let mag = this.warehouses.find( warehouseF => warehouseF.warehouse_id == warehouse_id);
                    let firstDP = this.dropPoints.find(dropPoint => dropPoint.order_id == vrpSolution[i - 1].order_id);
                    if (typeof mag !== "undefined" && typeof firstDP !== "undefined") {
                        this.getRoute([mag.lat, mag.long], [firstDP.lat, firstDP.long],this.color);
                    }

                    for (i = 1; i < vrpSolution.length; i++) {
                        let prevCor = this.dropPoints.find(dropPoint => dropPoint.order_id == vrpSolution[i - 1].order_id);
                        let actCor = this.dropPoints.find(dropPoint => dropPoint.order_id == vrpSolution[i].order_id);
                        if (typeof prevCor !== "undefined" && typeof actCor !== "undefined") {
                            this.getRoute([prevCor.lat, prevCor.long], [actCor.lat, actCor.long],this.color);
                        }
                    }

                    let lastDP = this.dropPoints.find(dropPoint => dropPoint.order_id == vrpSolution[vrpSolution.length -1 ].order_id);
                    if (typeof mag !== "undefined" && typeof lastDP !== "undefined") {
                        this.getRoute([lastDP.lat, lastDP.long], [mag.lat, mag.long],this.color);
                    }

                } catch (error) {
                    console.log(error);
                }

            },
            calcualateToRoute(color) {
                let j = 1;
                for (j = 0; j < this.curDrawnPath.length; j++) {
                    this.curDrawnPath[j] = [this.curDrawnPath[j][1], this.curDrawnPath[j][0]];
                }
                console.log(this.curDrawnPath);
                this.drawRoute(this.curDrawnPath,color );
            },
            getRoute(a, b,color) {
                let params = new URLSearchParams();
                params.append("point", a);
                params.append("point", b);
                params.append("vehicle", "car");
                params.append("locale", "pl");
                params.append("instructions", "false");
                params.append("points_encoded", "false");
                params.append("key", "171012cd-c389-497b-92dd-ed11cdf94ef1");
                let request = {
                    params: params
                };
                let self = this;
                axios.get('https://graphhopper.com/api/1/route?', request)
                    .then(({data}) => {
                        this.curDrawnPath = data.paths[0].points.coordinates;
                        this.calcualateToRoute(color);
                    })
                    .catch((err) => {
                        message.error(err);
                        this.curDrawnPath;
                    })
            },

            drawRoute(latlngs, color) {
                console.log(color);
                console.log(latlngs);
                var path = L.polyline.antPath(latlngs, {
                    "delay": 400,
                    "dashArray": [10, 20],
                    "weight": 5,
                    "color": color,
                    "paused": false,
                    "reverse": false
                }).addTo(map);
                map.addLayer(path);
            },

            callback() {

            },

            showAddWareHouseForm() {
                this.chosenAddWarehouse = true;
                this.selectAction = false;
            },
            showAddOrderPoint() {
                this.chosenAddProduct = true;
                this.selectAction = false;
            },
            popupContainerSelect(triggerNode) {
                return triggerNode.parentNode;
            },
            handleSelectChange(value) {
                this.selectedOptions = [];
                value.forEach(item => this.selectedOptions.push(this.ware[item]));
            },
            handleSelectChangeVehicles(value) {
                this.selectedVehicle = this.warehouses[value].warehouse_name;
                selectedWarehouseToNewVehicle = this.warehouses[value];
            },
            getSolution() {

                // var mockData = '{"data":[{"warehouse_id":"1", "vehicle_id":"1", "orders":[{"order_id":"0"}, {"order_id":"1"}]},{"warehouse_id":"1", "vehicle_id":"2", "orders":[{"order_id":"2"}, {"order_id":"1"}]}]}';
                // // console.log(JSON.parse(mockData));
                // this.vrpSolutionA = JSON.parse(mockData);
                // this.vrpSolution = this.vrpSolutionA.data[0];
                // let newOrderPoint = {
                //     title: "DP1",
                //     products: [],
                //     lat: 52.237049,
                //     long: 21.017532
                // };
                // newOrderPoint.order_id = 0;
                // this.dropPoints.push(Object.assign({}, newOrderPoint));
                //
                // newOrderPoint = {
                //     title: "DP2",
                //     products: [],
                //     lat: 52.236049,
                //     long: 21.017632
                // };
                //
                // newOrderPoint.order_id = 1;
                // this.dropPoints.push(Object.assign({}, newOrderPoint));
                // this.drawSolution(this.vrpSolution.orders)

                axios.get(url + "/HTML/Route")
                    .then(response => {
                        if (response.status >= 300) {
                            message.error("Nie udało się pobrać rozwiązania");
                            this.vrpSolution = [];
                        } else {
                            message.success("Poprawnie pobrano rozwiązanie");

                            this.vrpSolution = response;
                            if( response.data.unassignedJobs !== 0 )
                            {
                                message.error("Nie można wyznaczyć rozwiązania");
                            }

                            response.data.routes.forEach( order => {
                            // this.vrpSolution = response.data[0];
                                // console.log(order);
                            this.drawSolution(order.orders,order.warehouse_id) });
                        }
                    }).catch((errorm) => {
                    message.error("Nie udało się pobrać rozwiązania" + errorm);
                    this.vrpSolution = [];
                });
            },
            addOrderPoint() {
                let dropPoint = {
                    order_name: orderPointName,
                    products: this.selectedOptions,
                    long: location.lng,
                    lat: location.lat
                };

                let objParams = {
                    long: location.lng,
                    lat: location.lat,
                    order_name: dropPoint.order_name,
                };

                dropPoint.products.forEach(product => {
                    objParams["product" + product.product_id] = product.product_id;
                });

                newOrderPoint = dropPoint;
                let self = this;
                axios.post(url + "/HTML/Orders", {}, {params: objParams})
                    .then((response) => {
                        if (response.status >= 300) {
                            message.error("Nie udało się dodac punktu odbioru");
                        } else {
                            message.success("Poprawnie dodano punkt odbioru");
                            newOrderPoint.order_id = response.data.order_id;
                            let newMarker = L.marker({
                                lat: newOrderPoint.lat,
                                lng: newOrderPoint.long
                            }, {icon: houseIcon});
                            let popupValue = "<b>" + newOrderPoint.order_name + "</b>";
                            newMarker.bindPopup(popupValue).openPopup();
                            markers.push(newMarker);
                            newMarker.addTo(map);
                            this.dropPoints.push(Object.assign({}, newOrderPoint));
                            self.popOverChoice = false;
                        }
                    }).catch(() => {
                    message.error("Blad serwera");
                }).then(() => {
                    newOrderPoint = undefined;
                });

            },
            addWareHouseMapClick(e) {
                let el = document.getElementById("popOverChoice");
                el.style.top = e.containerPoint.y + "px";
                el.style.left = e.containerPoint.x + "px";
                this.selectAction = true;
                this.chosenAddWarehouse = false;
                this.chosenAddProduct = false;
                if (this.popOverChoice) {
                    this.popOverChoice = false;
                    setTimeout(() => this.popOverChoice = true, 100);
                } else
                    this.popOverChoice = true;
                location = e.latlng;
            },
            handleInputOrderPointNameChange(e) {
                orderPointName = e.target.value;
                this.disableAddOrderPoint = orderPointName.length === 0;
            },
            changeInputWareHouse(e) {
                warehouseName = e.target.value;
                this.disableAddWareHouse = warehouseName.length === 0;
            },

            changeInputWareName(e) {
                wareName = e.target.value;
                this.disableAddWare = wareName.length === 0;
            },

            changeInputWareWeight(e) {
                wareWeight = e.target.value;
                this.disableAddWare = wareName.length === 0;
            },
            addNewVehicle() {
                let newVehicle = {
                    capacity: this.newVehicleCapacity,
                    warehouse_id: selectedWarehouseToNewVehicle.warehouse_id,
                };
                addNewVehicle = newVehicle;
                axios.post(url + "/HTML/Vehicles", {}, {
                    params: {
                        warehouse_id: newVehicle.warehouse_id,
                        capacity: newVehicle.capacity
                    }

                }).then(response => {
                    if (response.status >= 300) {
                        message.error("Nie udało się dodać nowego pojazdu");

                    } else {
                        message.success("Poprawnie dodano nowy pojazd");
                        addNewVehicle.vehicle_id = response.data.vehicle_id;
                        this.warehouses.forEach(warehouse => {
                            if (warehouse.warehouse_id === addNewVehicle.warehouse_id) {
                                addNewVehicle.warehouse = warehouse;
                                return;
                            }
                        });
                        this.vehicles.push(addNewVehicle);
                        this.showAddNewVehiclePopup = false;
                    }

                }).catch(() => {
                    message.error("Błąd servera");
                }).then(() => {
                    addNewVehicle = undefined;
                    this.newVehicleCapacity = 1;
                    this.selectedVehicle = "";
                    selectedWarehouseToNewVehicle = undefined;
                });
            },
            addWarehouse() {
                let newWarehouse = {
                    warehouse_name: warehouseName,
                    lat: location.lat,
                    long: location.lng,
                };
                newWarehouseToAdd = newWarehouse;
                let self = this;
                axios.post(url + "/HTML/Warehouses", {}, {
                    params: {
                        warehouse_name: newWarehouse.warehouse_name,
                        lat: newWarehouse.lat,
                        long: newWarehouse.long
                    }
                }).then((response) => {
                    if (response.status >= 300) {
                        message.error("nie udalo sie dodac magazynu")
                    } else {

                        newWarehouseToAdd.warehouse_id = response.data.warehouse_id;
                        this.warehouses.push(Object.assign({}, newWarehouseToAdd));
                        let newMarker = L.marker({
                            lat: newWarehouseToAdd.lat,
                            lng: newWarehouseToAdd.long
                        }, {icon: packIcon});
                        let popupValue = "<b>" + newWarehouseToAdd.warehouse_name + "</b>";
                        newMarker.bindPopup(popupValue).openPopup();
                        newMarker.addTo(map);
                        markers.push(newMarker);
                        message.success("Pomyslnie dodano nowy magazyn");
                        self.popOverChoice = false;
                    }
                }).catch(() => {
                    message.error("blad servera");
                }).then(() => {
                    this.warehouseName = "";
                    newWarehouseToAdd = undefined;
                });
            },

            addWare() {

                newProduct = {
                    product_name: this.wareName,
                    weight: this.wareWeight
                };

                axios.post(url + "/HTML/Products", {}, {
                    params: {
                        name: newProduct.product_name,
                        weight: newProduct.weight
                    }
                }).then(response => {
                    if (response.status >= 300) {
                        message.error("Nie udało się pobrać dodać produktu");

                    } else {
                        message.success("Poprawnie dodano nowy produkt");
                        //this.ware = response.data;
                        newProduct.product_id = response.data.product_id;
                        this.ware.push(Object.assign({}, newProduct));
                        this.showAddNewProductPopup = false;
                    }
                }).catch(() => {
                    message.error("Błąd serwera");

                }).then(() => {
                    newProduct = undefined;
                    this.wareName = "";
                    this.wareWeight = 1;
                });
            },

        },


    }

</script>

<style scoped>
    @import "~leaflet/dist/leaflet.css";

    .full-page {
        height: 100vh;
        width: 100%;
        display: block;
        position: relative;
    }

    .small-font {
        font-size: 80%;
    }

    .greyed-text {
        color: grey;
    }

    .flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .button-container {
        display: flex;
        flex-direction: row-reverse;
    }

    .button-add {
        margin-top: 5px;
    }

    .controls-container {
        position: absolute;
        right: 0;
        height: 80vh;
        background-color: white;
        padding: 10px;
        width: 300px;
        z-index: 1000;
        top: 10vh;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        overflow-y: scroll;
    }

    .absolute {
        position: absolute;
    }

    #popOverChoice {
        width: 5px;
        height: 0;
        top: 0;
        left: 0;
    }

</style>