<template>
    <div id="app">
        <MapPage/>
    </div>
</template>

<script>
    import MapPage from './components/MapPage'

    export default {
        name: 'app',
        components: {
            MapPage
        }
    }
</script>

<style>
    body {
        margin: 0;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .text-center {
        text-align: center;
    }
</style>
